.text-center{
    position: absolute;
    
}
.button{
  margin-right: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.home-bg {
  background-color: #a909d1;
}

h1{
  color:black;
}

.margin-left{
  margin-left: 80px !important;
}

.main{
  text-align: center;
}