.wave {
    position:absolute;
    bottom:1;
    left:0;
}

.mystyle {
    position:absolute;
    top: 1;
    right:0;
    
}

img{
    position: relative;
    top: -16px;
    right: -706px;
    

}

