@import "./landingpage.scss";
@import "~bootstrap/scss/bootstrap";
@import "../fonts/fonts.css";
@import "./home.scss";
@import "../css/live.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

h1,
h2,
h3 {
  font-family: "Montserrat";
}

body {
  color: rgb(255, 255, 255);
}

.full-vh {
  height: 100vh;
}
